<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="db_dhxtConnectionString" connectionString="Password=db_pwd;Persist Security Info=True;User ID=db_name;Initial Catalog=db_name;Data Source=."
		 providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
  <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>
